{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        
        <!-- 
        {% block body %}
            <form method="post" action="">
            <table border="table-1">
                <thead>
                <tr>
                    <th>title</th>
                    <th>text</th>
                    <th>created_date</th>
                    <th>published_date</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.text }}</td>
                    <td>{{ post.created_date }}</td>
                    <td>{{ post.published_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>
        {% endblock %}
         -->
    </body>
</html>